name: Build & Test
on: [push, pull_request]
jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]
      fail-fast: true
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET SDK 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Run tests (Portability)
      # we want to run only once.
      if: startsWith(matrix.os, 'ubuntu-20')
      run: |
        dotnet build tests/DotNetLightning.Core.Tests -p:Portability=True
        dotnet run --no-build --project tests/DotNetLightning.Core.Tests --fail-on-focused-tests

    - name: Build/pack in release mode
      run: |
        dotnet pack -p:Configuration=Release src/DotNetLightning.Core -p:Portability=True

    - name: Clean to prepare for NSec build
      run: |
        dotnet clean

    - name: Run core tests
      run: |
        dotnet run --project tests/DotNetLightning.Core.Tests --fail-on-focused-tests

    - name: Run other tests
      run: |
        dotnet test --filter "FullyQualifiedName!~Macaroon" # see https://github.com/joemphilips/DotNetLightning/issues/153

  build_with_fsharp_from_mono:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        DEBIAN_FRONTEND=noninteractive sudo apt install -y msbuild fsharp

        dotnet restore -p:Portability=True DotNetLightning.sln
        msbuild src/DotNetLightning.Core/DotNetLightning.Core.fsproj -p:Portability=True -p:TargetFramework=netstandard2.0

  sanitycheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup .NET SDK 6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: fantomless
        run: |
          dotnet tool update --global fantomless-tool --version 4.7.997
          # path taken from https://stackoverflow.com/a/65367006/544947
          $HOME/.dotnet/tools/fantomless . --recurse
          git diff --exit-code

      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: fsharpLint
        run: |
          dotnet tool update --global dotnet-fsharplint --version 0.21.2
          # path taken from https://stackoverflow.com/a/65367006/544947
          $HOME/.dotnet/tools/dotnet-fsharplint lint DotNetLightning.sln
