name: Build and deploy
on: [push, pull_request]
jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest, windows-latest]
        dotnet: ['3.1.200']
      fail-fast: true
    steps:
    - uses: actions/checkout@v2
    - name: Setup ${{ matrix.dotnet }} .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Run tests (Portability)
      # we want to run only once.
      if: startsWith(matrix.os, 'ubuntu-18')
      run: |
        dotnet build tests/DotNetLightning.Core.Tests -p:Portability=True
        dotnet run --no-build --project tests/DotNetLightning.Core.Tests

    - name: Clean to prepare for NSec build
      run: |
        dotnet clean
    - name: Run core tests
      run: |
        dotnet run --project tests/DotNetLightning.Core.Tests
    - name: Run other tests
      run: |
        dotnet test

  build_with_fsharp_from_mono:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        DEBIAN_FRONTEND=noninteractive sudo apt install -y msbuild fsharp

        dotnet restore -p:Portability=True DotNetLightning.sln
        msbuild src/DotNetLightning.Core/DotNetLightning.Core.fsproj -p:Portability=True -p:TargetFramework=netstandard2.0

